@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  background: #fcf8ff;
}
.c-container {
  width: 100%;
  max-width: 1440px;
  flex-grow: 1;
  padding: 0px 30px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .c-container {
    padding: 0px 15px;
  }
}
